<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>学生档案</title>
    <link rel="stylesheet" href="./public/css/main.css">
</head>

<body>
    <form action="/template/add" method="POST">
        <fieldset>
            <legend>学生档案</legend>
            <label>
				姓名: <input name="name" class="normal" type="text" autofocus placeholder="请输入姓名">
			</label>
            <label>
				年龄: <input name="age" class="normal"  type="text" placeholder="请输入年龄">
			</label>

            <label>
				性别:<label style="display: inline-block;"><input name="sex" type="radio" value="男"> 男</label>
            <label style="display: inline-block;"><input name="sex" type="radio" value="女"> 女</label>
            </label>

            <label>
				邮箱地址: <input name="email" class="normal" type="text" placeholder="请输入邮箱地址">
			</label>
            <label>
				爱好: 
				<label style="display: inline-block;"><input name="hobbies" type="checkbox" value="敲代码"> 敲代码</label>
            <label style="display: inline-block;"><input name="hobbies" type="checkbox" value="打篮球"> 打篮球</label>
            <label style="display: inline-block;"><input name="hobbies" type="checkbox" value="睡觉"> 睡觉</label>
            </label>
            <label>
				所属学院: 
				<select name="collage" class="normal">
					<option value="前端与移动开发">前端与移动开发</option>
					<option value="PHP">PHP</option>
					<option value="JAVA">JAVA</option>
					<option value="Android">Android</option>
					<option value="IOS">IOS</option>
					<option value="UI设计">UI设计</option>
					<option value="C++">C++</option>
				</select>
			</label>
            <label>
				入学日期: <input type="date" class="normal">
			</label>
            <label class="btn">
				<input type="submit" value="提交" class="normal">
			</label>



        </fieldset>
        <a class="list" href="/template/list"> 查看列表 </a>
    </form>
</body>

</html>